[data-theme='light'] {
  --prosemirror-color-selection: #93c5fd; /* colors.blue.300 */
}

[data-theme='dark'] {
  --prosemirror-color-selection: #60a5fa; /* colors.blue.400 */
}

.ProseMirror-body {
  position: relative;
  width: 100%;
  max-width: var(--prosemirror-max-width);

  height: 100%;

  line-height: 1.6;

  & *::selection {
    background-color: color-mix(in srgb, var(--prosemirror-color-selection) 50%, transparent);
  }

  & > *:not(.ProseMirror-widget) + *,
  & [data-node-view-content-editable] > *:not(.ProseMirror-widget) + * {
    margin-top: var(--prosemirror-block-gap);
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  td,
  th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
  }

  li {
    margin-top: 4px;

    &:first-child {
      margin-top: 0;
    }
  }

  :is(ul, ol) :is(ul, ol) li:first-child,
  :is(ul, ol) .selected-node:not(:first-child) li:first-child {
    margin-top: 4px;
  }

  [data-footnote-list] {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid var(--colors-border-subtle);
    list-style-type: none;
    font-size: 0.875em;

    li[data-footnote-id] {
      display: flex;
      gap: 8px;
      margin-top: 8px;

      &::marker {
        content: none;
      }
    }
  }

  sup[data-footnote-id] {
    font-size: 0.75em;
    line-height: 0;
    vertical-align: super;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.ProseMirror-hydratable {
  p:has(br:not(.ProseMirror-trailingBreak))::after {
    content: '\A';
  }
}

.ProseMirror-editable {
  & [data-drag-handle] {
    cursor: grab;
  }

  .column-resize-handle {
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: -1px;
    width: 4px;
    background-color: var(--prosemirror-color-selection);
    cursor: ew-resize;
    cursor: col-resize;
  }

  .selectedCell {
    background-color: color-mix(in srgb, var(--prosemirror-color-selection) 20%, transparent);
  }
}

.ProseMirror-hideselection {
  caret-color: transparent;

  & *::selection {
    display: none;
    background-color: transparent;
  }
}

.ProseMirror-separator {
  display: inline-block;
}

.ProseMirror-dropcursor {
  background-color: color-mix(in srgb, var(--prosemirror-color-selection) 40%, transparent);
}
